.input input[type="text"] {
    border: none;

    padding: 10px 0;
    width: 28vw;
    border-radius: 10px;
}
.input input[type="password"] {
    border: none;

    padding: 10px 0;
    width: 28vw;
    border-radius: 10px;
}

input[type="password"]:focus {
    outline: none;
}input[type="password"]::placeholder {
    color: #6C7275;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}